@import './mixins.css';
@import './syntax.css';
@import './themes.css';
@import './icons.css';
@import './blog.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-cursive {
    font-family: 'Calistoga', serif;
    letter-spacing: 0.025rem;
  }

  .text-link {
    @apply text-ochre-500 hover:text-ochre-300 underline underline-offset-4;
  }
}

html {
  font-family: 'Merriweather', serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-cursive text-center;
}

h1 {
  @apply text-3xl md:text-4xl mb-4 md:mb-5 pt-2 md:pt-3;
}

h2 {
  @apply text-2xl md:text-3xl mb-4 md:mb-5 pt-2 md:pt-3;
}

h3 {
  @apply text-xl md:text-2xl mb-3 md:mb-4 pt-2 md:pt-3;
}

h4 {
  @apply text-lg md:text-xl mb-2 md:mb-3 pt-2 md:pt-3;
}

h5 {
  @apply font-bold text-lg mb-2 pt-2 md:pt-3;
}

h6 {
  @apply font-bold text-base mb-2 pt-2 md:pt-3;
}

p,
ul {
  @apply my-5 leading-7 md:leading-8;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 {
  @apply mt-0;
}

blockquote {
  @apply border-ochre-500 border-l-4 px-4 py-3 mx-4 my-8 bg-inverse-secondary;
}

blockquote p:first-child,
aside p:first-child {
  @apply mt-0;
}

blockquote p:last-child,
aside p:last-child {
  @apply mb-0;
}

aside {
  @apply text-sm leading-6 px-4 py-3 mx-4 my-8 border-l-4 border-ochre-500 bg-inverse-secondary;
}

aside p {
  @apply leading-7;
}

ul {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

ul > li {
  position: relative;
}

ul > li:before {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAANUlEQVQImWP8sij2PwMOwAKlGbHI/WfCpYuBgYEBLskdu4iBgYHhPxKbAV0nivF4jWXE51oAaSYKByQ4Eh0AAAAASUVORK5CYII=');
  background-size: 100% 100%;

  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */

  content: '';
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  top: 0.55em;
  left: -1em;
  transform: rotate(45deg);
}

ul ul > li:before {
  @apply text-ochre-500;
  background-image: none;
  transform: none;
  content: '◆';
  top: -0.1em;
  left: -1em;
}

ul ul ul > li:before {
  @apply text-ochre-500;
  background-image: none;
  transform: none;
  content: '◇';
}

ol {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  counter-reset: item;
}

ol li:before {
  content: counter(item) '.';
  color: theme('colors.ochre.500');
  counter-increment: item;
  position: absolute;
  text-align: right;
  transform: translateX(-100%);
  margin-left: -0.4em;
}

ol ol li:before {
  content: counter(item, lower-roman) '.';
}

ol ol ol li:before {
  content: counter(item, lower-alpha) '.';
}

li {
  margin-right: 1rem;
}

li::marker {
  @apply text-ochre-500;
  margin-right: 0.5rem;
}

pre,
code {
  width: 100%;
  overflow: scroll;
}

hr {
  background-color: transparent;
  border: 0;
  border-top: 3px double theme('colors.ochre.500');
  height: 3px;
  margin: 2rem auto 2rem;
  position: relative;
  overflow: visible;
}

@screen md {
  hr {
    width: 40%;
  }
}

.square,
hr::before {
  @apply bg-inverse;
  background: var(--color-inverse);
  transform: translate(-50%, -67%) rotate(45deg);
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAANUlEQVQImWP8sij2PwMOwAKlGbHI/WfCpYuBgYEBLskdu4iBgYHhPxKbAV0nivF4jWXE51oAaSYKByQ4Eh0AAAAASUVORK5CYII=');
  background-size: 100% 100%;

  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
}

hr::before {
  left: 50%;
}
