@layer base {
  .light-theme {
    --color-primary: theme('colors.stone.700');
    --color-secondary: theme('colors.stone.400');
    --color-inverse: theme('colors.bone.50');
    --color-inverse-secondary: theme('colors.bone.150');
  }

  .dark-theme {
    --color-primary: theme('colors.white');
    --color-secondary: theme('colors.gray.400');
    --color-inverse: theme('colors.midnight.800');
    --color-inverse-secondary: theme('colors.midnight.700');
  }
}

.light,
.system {
  @apply light-theme;
}

.dark {
  @apply dark-theme;
}

@media (prefers-color-scheme: dark) {
  .system {
    @apply dark-theme;
  }
}
